{% extends './layout.html' %}
{% block link %}<link href="/css/admin.css" rel="stylesheet">{% endblock %}
{% block header %}
  修改密码
{% endblock %}

{% block content %}
<form class="form-horizontal" action="/admin/password" method="post">

  <div class="form-group">
    <label class="col-sm-2 control-label">密码</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="password" placeholder="请输入密码" id="mima1">
    </div>
    <p class="text-danger err"></p>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">再次确认密码</label>
    <div class="col-sm-4">
       <input type="password" class="form-control" name="repassword" placeholder="请再次输入密码" id="mima2">
    </div>
    <p class="text-danger err"></p>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary" id="btn-sub">提交</button>
    </div>
  </div>
</form>
{% endblock %}
{% block end %}
<script src="/ckeditor5/ckeditor.js"></script>
<script src="/ckeditor5/translations/zh-cn.js"></script>
<script src="/js/password.js"></script>
{% endblock %}